h2 Rooms

.row
   .small-6.columns

      .small-12.columns
         h3 Create a Room
         .small-12.columns
            input.radius(type='text', ng-model='room.name', placeholder='Room Name')
            input.radius(type='password', ng-model='room.password', placeholder='Password')
            button.radius.tiny(ng-click='createRoom()') Create

      .row
         .small-12.columns
            h3 Room List
            table
               thead
                  th Owner
                  th Name
                  th Password
                  th
               tbody
                  td
                  td
                  td
                  td: button.tiny Join

   .small-6.columns
      h3 Chat
      #messages.panel.callout.radius
      input#message(type='text', ng-model='message', autofocus)
      button.success.tiny.radius(ng-click='chat(message)') Send Message

