h2 Rooms

.row
   .small-8.columns
      .row
         .small-12.columns
            h3 Create a Room

      .row
         .small-12.columns
            h3 Room List
            ul
               li Room 1
               li Room 2

   .small-4.columns
      h3 Chat
      #messages.panel.callout.radius
      input(type='text', ng-model='message')
      button.send.tiny.radius(ng-click='chat(message)') Send
