h2 Rooms

.row
   .small-6.columns
      .row
         .small-12.columns
            h3 Create a Room
            .small-9.columns
               input.radius(type='text', ng-model='')
            .small-3.columns
               button.radius.tiny(ng-click='') Add

      .row
         .small-12.columns
            h3 Room List
            ul
               li Room 1
               li Room 2

   .small-6.columns
      h3 Chat
      #messages.panel.callout.radius
      .small-9.columns
         input.radius(type='text', ng-model='message', autofocus)
      .small-3.columns
         button.radius.small(ng-click='chat(message)') Send
