h2 Rooms

.row
   .small-6.columns

      .small-12.columns
         h3 Create a Room
         .small-12.columns
            input.radius(type='text', ng-model='room.name', placeholder='Room Name', ng-class='{error: error}')
            input.radius(type='password', ng-model='room.password', placeholder='Password', ng-class='{error: error}')
            button.radius.tiny(ng-click='createRoom()') Create

      .row
         .small-12.columns
            h3 Room List
            table
               thead
                  th Owner
                  th Name
                  th Password
                  th
               tbody(ng-repeat='room in rooms | orderBy: "createdAt": true')
                  td: img.table-avatar(ng-src= '{{room.creator.avatar}}')
                  td {{room.name}}
                  td: input.radius(type='password', placeholder='Password', ng-model='password')
                  td: button.tiny.radius.alert(ng-click='join(room)') Join

   .small-6.columns
      h3 Chat
      #messages.panel.callout.radius
      input#message(type='text', ng-model='message', autofocus)
      button.success.tiny.radius(ng-click='chat(message)') Send Message

